<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mekong-market.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Mekong Market</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div onclick="openMenu()">
                <button>&#9776;</button>
                <a class="brand" href="index.html">Mekong Market</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li><a href="">Pants</a></li>
                <li><a href="">Shirts</a></li>
            </ul>

        </aside>
        <main class="main">
            <div class="row center">
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="/images/man-short-sleeves-shirt-fil-lumiere.jpg" alt="product s">
                            </a>
                            <div class="card-body">
                                <a href="product.html"><h2>Slim Shirt</h2></a>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-half-alt"></i></span>
                                </div>
                                <div class="price">$60</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="/images/man-short-sleeves-shirt-fil-lumiere.jpg" alt="product s">
                            </a>
                            <div class="card-body">
                                <a href="product.html"><h2>Slim Shirt</h2></a>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <div class="price">$60</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="/images/man-short-sleeves-shirt-fil-lumiere.jpg" alt="product s">
                            </a>
                            <div class="card-body">
                                <a href="product.html"><h2>Slim Shirt</h2></a>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                </div>
                                <div class="price">$60</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="/images/man-short-sleeves-shirt-fil-lumiere.jpg" alt="product s">
                            </a>
                            <div class="card-body">
                                <a href="product.html"><h2>Slim Shirt</h2></a>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <div class="price">$60</div>
                            </div>
                        </div>
                        <div class="card">
                            <a href="product.html">
                                <img class="medium" src="/images/man-short-sleeves-shirt-fil-lumiere.jpg" alt="product s">
                            </a>
                            <div class="card-body">
                                <a href="product.html"><h2>Slim Shirt</h2></a>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-half-alt"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                </div>
                                <div class="price">$60</div>
                            </div>
                        </div>

            </div>
        </main>
        <footer class="row center">
            All right reserved.
        </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>
</html>